.samples__item-title {
  font-family: $fontFamily;
  font-size: 18px;
  font-weight: normal;
  line-height: 31px;
  letter-spacing: 0.3px;
  color: $primaryColor;
}

@media (max-width: 570px) {
  .samples__item-title {
    font-size: 14px;
    line-height: 31px;
  }
}
