.page__button {
  padding: 12px 30px;
  border: 0;
  max-width: 163px;
  max-height: 55px;
  background-color: #FFDB00;
  color: $secondaryColor;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
}
