.header__title {
  font-family: $fontFamily;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  line-height: 48px;
  color: $primaryColor;
  max-width: 400px;
  margin: 0;
  padding-bottom: 170px;
}
