.page__header {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #9960F6;
  display: flex;
  position: relative;
  overflow: hidden;

  &:after {
    position: absolute;
    top: -160px;
    right: -160px;
    content: '';
    width: 565px;
    height: 565px;
    border-radius: 50%;
    background-color: #3530FF;
    opacity: .2;
  }
}

@media (max-width: 1330px) {
  .page__header {
    &:after {
      display: none;
    }
  }
}

@media (max-width: $bigTablet) {
  .page__header {
    flex-direction: column;
  }
}
