$fontFamily: 'Inter', 'Arial', sans-serif;
$primaryColor: #fff;
$secondaryColor: #1E3264;
$thirdColor:#FFDB00;
$fourthColor: #9960F6;
$fifthColor:#CEF564;
$sixthColor: #016450;
$desktop: 1440px;
$bigTablet: 1200px;
$tablet: 767px;
$miniTablet: 590px;
$mobile: 320px;
