.header__logo {
  font-family: $fontFamily;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFDB00;
  margin-top: 40px;
  margin-left: 50px;
}
