.header__icon {
  position: absolute;
  top: -160px;
  right: -160px;
  background: center / 169px no-repeat url(../images/icon-earth.png), rgba(53, 48, 255, .2);
  width: 565px;
  height: 565px;
  border-radius: 50%;
}
