.header__icon {
  position: absolute;
  top: 50px;
  right: 50px;
  background: center no-repeat url(../images/icon-earth.png);
  background-size: cover;
  width: 169px;
  height: 169px;
  z-index: 2;
}
